<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452087933226-gslrss6ja31hdcq856k2t20no1fhen07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452087933226-gslrss6ja31hdcq856k2t20no1fhen07</string>
	<key>API_KEY</key>
	<string>AIzaSyCjcUPZbl_YERMbXlWIEdIYkAlHfzm82os</string>
	<key>GCM_SENDER_ID</key>
	<string>452087933226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adamurFlutterEngineerTestHabbaApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-test-9a97a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test-9a97a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452087933226:ios:82f5bf954448ec9d6ed653</string>
</dict>
</plist>